@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2114 Field Green Dr.<br />
    Cypress, TX<br />
    <abbr title="Phone">P:</abbr>
    281.782.9558
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">bwgillikin@sbcglobal.net</a><br />
</address>